.clientLogoBox {
    border:#ccc 1px solid;
    padding: 0.1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clientLogoBox li {
    width:16.666%;
    height:150px;
    border:#ccc 1px solid;
    padding:0.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.clientLogoBox li img {
    width:100%;
    height:auto;
}